
      <ion-view view-title="Profile">
            <ion-content>
                    <div class="list card">

                            <a href="#" class="item item-icon-left">
                              <i class="icon ion-person"></i>
                              {{profile.C_Name}}
                            </a>
                          
                            <a href="#" class="item item-icon-left">
                              <i class="icon ion-ios-telephone"></i>
                              {{profile.C_Phone}}
                            </a>
                          
                            <a href="#" class="item item-icon-left">
                                    <i class="icon ion-information"></i>
                                    {{profile.C_Cnic}}
                                  </a>
                                
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-card"></i>
                                {{profile.C_Debtcard}}
                                </a>

                            <a href="#" class="item item-icon-left">
                                    <i class="icon ion-home"></i>
                                    {{profile.Address}}
                                    </a>
                          
                          </div>
            </ion-content>
          </ion-view>
          